.Phonetic a {
    border: 1px solid #ddd;
    text-decoration: none;
    padding:10px 20px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
    margin-right: 10px;
   
}
.Phonetic a:hover {
    background: #6643b5;
    color:white;
    
}
.Phonetic {
    height:60px;
}